.countdown-form {
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    background-color: yellow;
    min-width: 383px;
    max-width: 360px;
    border-radius: 34px;
    background-color: skyblue;
}

input[type="submit"] {
    margin-top: 15px;
}

.submit-button {
    padding-bottom: 20px;
}