.countdown {
    border: 2px solid black;
    padding: 8px;
    margin: 5px;
    min-width: 383px;
    max-width: 360px;
}

button.edit-button {
    float: left;
}

button.delete-button {
    float: right;
}

.save-and-cancel-buttons {
    padding-bottom: 25px;
}

.save-button {
    margin-right: 22px;
}