.countdown {
    border: 1px solid gray;
    padding: 8px;
    margin: 5px;
    min-width: 383px;
    max-width: 360px;
    border-radius: 20px;
    min-height: 229px;
    background-color: whitesmoke;
}

button.edit-button {
    float: left;
}

button.delete-button {
    float: right;
}

.save-and-cancel-buttons {
    padding-bottom: 25px;
}

.save-button {
    margin-right: 22px;
}

.cancel-button {
    margin-top: 15px;
}